@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "./variable.module.scss";
@import "./general.scss";
@import "./curheader.scss";


@media screen and (max-width: 968px) {
    .l-header{
        .nav__menu{
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem;
            background-color: $body-color;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
            border-radius: 1rem 1rem 0 0;
            z-index: $z-fixed;
            transition: .3s;
        }
    }
    }

@media screen and (min-width: 968px) {   
.generate-pdf{
    display: inline-block;
}
    .curBody{
        margin: 3rem 0;
    }
    .section-title,
    .profile_description{
        text-align: initial;
    }
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
    .l-header,
    .scrolltop{
        display: none !important;
    }
    .resume{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: $container-color;
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }
    .resume__left{
        background-color: $container-color-alt;
    }
    .resume__left,
    .resume__right{
        padding: 0 1.5rem;
    }
.home{
    .home__container{
        gap: 1.5rem;
        .home__data{
            .home__button-movil{
                display: none;
            }
        }
    }
}

.refrences__container{
    grid-template-columns: repeat(2, 1fr);
}
.languages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
}
.interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
}
}